FirstWebWithWCF/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tambah">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kurang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KurangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KurangResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kali">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KaliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KaliResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bagi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BagiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BagiResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>